.form {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 500px;*/
    height: 100vh;
    /*flex-direction: column;*/
}


.create_fire {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 500px;*/
    justify-content: center;
    /*border: 1px #000 solid;*/
    /*border-radius: 10px;*/
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #515151;
}

/*@media (max-width: 800px) {*/
/*    .create_fire {*/
/*        width: 100%;*/
/*    }*/
/*}*/


.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.title {
    width: 150px;
    font-size: 20px;
}


.url_to_back {
    text-decoration: none;
    color: black;
    border-radius: 10px;
}


.errorlist {
    list-style: none;
    color: red;
    margin: 0;
    padding: 0;
}


.input_field > input {
    background-color: #A8A8A8;
    border: none;
    font-size: 20px;
}