{% extends 'main.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/firecreate.css' %}">
{% endblock %}

{% block container %}
    <div class="form">
        <form class="create_fire" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <span class="title">
                        {{ field.label }}
                    </span>
                    <span class="input_field">
                        {{ field }}
                    </span>
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}

{#            {% if form.errors %}#}
{#                <div class="errors">#}
{#                    {{ form.errors }}#}
{#                </div>#}
{#            {% endif %}#}

            <div class="row">
                <button><a href="{% url 'firelist' %}" class="url_to_back">Назад</a></button>
                <input type="submit" value="{% if create %}Создать{% else %}Обновить{% endif %}">
            </div>
        </form>
    </div>

    {% if logs %}
        {% include 'logs.html' %}
    {% endif %}

{% endblock %}