{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">


<div class="header">
    <div class="buttons">
        <a href="">Контакты</a>
        <a href=""><img src="{% static 'svg/phone.svg' %}" class="button_size" alt=""></a>
        <a href=""><img src="{% static 'svg/mail.svg' %}" class="button_size" alt=""></a>
        <a href=""><img src="{% static 'svg/setting.svg' %}" class="button_size" alt=""></a>
        <a href=""><img src="{% static 'svg/user.svg' %}" class="button_size" alt=""></a>
        <a href="{% url 'auth_system:logout' %}"><img src="{% static 'svg/logout.svg' %}" class="button_size" alt=""></a>
    </div>
</div>