{% load static %}
<link rel="stylesheet" href="{% static 'css/firelist_header.css' %}">

<div class="header_list">
    <div class="header___toolbar">
        <span class="header___toolbar_title">ПОИСК</span>
        <div class="header___toolbar_search">
            <input type="text" class="header___toolbar_search_input">
            <div class="header___toolbar_search_button">
                <p style="margin: 0;padding: 0;color: white">Найти по:</p>
                <span class="header___toolbar_button">ID</span>
                <a class="header___toolbar_button" href="">№ Заказа</a>
                <a class="header___toolbar_button" href="">№ Пломб</a>
                <a class="header___toolbar_button" href="">Модель</a>
                <a class="header___toolbar_button" href="">Длина</a>
            </div>
        </div>
    </div>
</div>
